.video-player{
  width: 100%;
  height: 100vh;
  padding: 0;
  background-color: #141517;

  .video-controls{
    margin-top: 16px;
    padding: 0 16px;

    .ant-slider{
      margin: 0;
    }
  }

  .ant-card-body{
    height: calc(100vh - 48px);
    padding: 0;
  }

  .video-container{
    width: 100%;
    height: 100%;
    display: grid;
    gap:0;


    // 多通道布局
    &.single-screen{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
    &.double-screen{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
    &.quad-screen{
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    .video-item{
      height: 100%;
      background: #141414;
      border: none;
      overflow: hidden;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
  
      .ant-card-body {
        height: 100%;
        padding: 0;
      }
    }
  }
}
